.login-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form-wrapper {
    height: 50%;
    display: flex;
    padding: 5rem;
    margin-top: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h1 {
    margin-bottom: 1.5rem;
    color: #333;
    font-weight: 600;
    font-size: 24px;
}

.input-box {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid;
}

.input-box .icon {
    color: #888;
    margin-right: 10px;
    font-size: 1.2rem;
}

.input-box input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    padding: 0.5rem 0;
    font-size: 16px;
    color: #333;
}

.input-box input::placeholder {
    color: #aaa;
}

.remember {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #666;
    margin-bottom: 1.5rem;
}

.remember label {
    display: flex;
    align-items: center;
}

.remember input {
    margin-right: 0.5rem;
}

button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #357ab7;
}